{% extends 'base.html' %}

{% block title %}Inicio - Agencia de Viajes{% endblock %}

{% block header %}Bienvenido al Panel de Administración{% endblock %}

{% block content %}
<p>Usa el menú a la izquierda para navegar y gestionar las diferentes secciones de la agencia de viajes.</p>
<p>Este es el panel central donde podrás administrar todos los aspectos de tu negocio, desde los destinos turísticos hasta las reservas de los clientes.</p>

<div class="text-center mt-5">
    <img src="https://images.pexels.com/photos/2174656/pexels-photo-2174656.jpeg" class="img-fluid rounded" alt="Collage de viajes" style="width: 75%;">
</div>
{% endblock %}
